<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultar Registro de Rendimiento</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <h2 style="text-align: center;">Consultar Registro de Rendimiento</h2>
    <form action="/behavior/rendimiento" method="get">
        <label for="id">ID de Registro de Rendimiento:</label>
        <input type="text" id="id" name="id" required>
        <button type="submit">Consultar</button>
    </form>
</body>
</html>