<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultar PQR</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <h2 style="text-align: center;">Consultar PQR por Identificacion del Usuario</h2>
    <form action="/asistance/user" method="get">
        <label for="iduser">Identificacion del Usuario:</label>
        <input type="text" id="iduser" name="iduser" required>
        <button type="submit">Consultar</button>
    </form>
</body>
</html>