<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultar Movimiento</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <h2 style="text-align: center;">Consultar Movimiento</h2>
    <form action="/movement/movimiento" method="get">
        <label for="ID">ID del Movimiento:</label>
        <input type="text" id="ID" name="ID" required>
        <button type="submit">Consultar</button>
    </form>
</body>
</html>