<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Mantenimiento</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <h2 style="text-align: center;">Eliminar Mantenimiento</h2>
    <form action="/maintainance/delete" method="post">
        <label for="id">ID del Mantenimiento a Eliminar:</label>
        <input type="number" id="id" name="id" required>

        <button type="submit">Eliminar Mantenimiento</button>
    </form>
</body>
</html>
