<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <title>Eliminar Tarifa</title>
</head>
<body>
    <h1 style="text-align: center;">Eliminar Tarifa</h1>
    <form action="/user/delete" method="post">
        <div>
            <label for="id">ID de la Tarifa a Eliminar:</label>
            <input type="number" id="id" name="id" required>
        </div>
        <button type="submit">Eliminar Tarifa</button>
    </form>
    <p><a href="/price/consultar">Volver a la página de consulta</a></p>
</body>
</html>