<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos de la Tarjeta {{ card_id }}</title>
</head>
<body>
    <h1>Pagos de la Tarjeta: {{ card_id }}</h1>
    <div id="lista-de-pagos-por-tarjeta">
        {% if pagos %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Cantidad</th>
                    <th>Método de Pago</th>
                    <th>Tipo de Transporte</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos %}
                <tr>
                    <td>{{ pago.id }}</td>
                    <td>{{ pago.user }}</td>
                    <td>{{ pago.payment_quantity }}</td>
                    <td>{% if pago.payment_method %}Sí{% else %}No{% endif %}</td>
                    <td>{{ pago.vehicle_type }}</td>
                    <td><a href="/payments/{{ pago.id }}">Ver Detalle</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No se encontraron pagos para la tarjeta con ID {{ card_id }}.</p>
        {% endif %}
    </div>
    <p><a href="javascript:history.back()">Volver</a></p>
</body>
</html>